/* 
make dropdown thing actually work
find good code color scheme
tiny icons for top nav - fix highlight
change nav images to be part of css #details
nav highlights - text, image, no backgrounds. light grey then white
*/


body {
    background: #f1f1f1;
    padding-top: 50px;  
}

/* Navigation */
.topbar .brand {
    font-size: 24px;
    padding: 10px 20px 12px;
    color: #df8615;
}

.nav-icon {
    padding:0 8px;
}

/*
.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a {
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  text-decoration: none;
}

.topbar div > ul .active > a, .nav .active > a {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.5);
}

.topbar div > ul .menu-dropdown .active a,
.nav .menu-dropdown .active a,
.topbar div > ul .dropdown-menu .active a,
.nav .dropdown-menu .active a {
  color: #ffffff;
}

.tabs .active > a, .tabs .active > a:hover {
    color: #808080;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
*/


/* Headers */
h1 {
    font-size: 36px;
    line-height: 42px;
}

h1.brand {
  font-size: 42px;
  line-height: 42px;
  color: #df8615;
  background: none;
}

h1 small {
  font-size: 30px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}
h2 small {
  font-size: 24px;
}

h3, h4, h5, h6 {
  line-height: 36px;
}

h3 {
  font-size: 24px;
}

h3 small {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

h4 small {
  font-size: 14px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1 .brand {
    color: #df8615;
}


/* Structure */
article {
    padding-top: 60px;
}

p {
    font-size: 18px;
    line-height: 21px;
}

footer {
    border-top: 2px solid #df8615;
}

.footer {
    padding: 30px 0;
    background: #ddd;
    min-width: 940px;
}

footer p {
    font-size: 12px;
}


/* Links */
a {
    color: #df8615;
    text-decoration: none;
}

a:hover, a:visited {
    color: #808080;
    text-decoration: none;
}


/* Code */
pre {
  padding: 0;
}

pre code {
  padding: 10px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 14px;
}

