@import "../bootstrap/less/bootstrap.less";
@import "./variables.less";
@import "./syntax.less";

body {
  padding-top: @navbarHeight;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.navbar {
  .brand {
    color: @orange;
  }
  .nav-icon {
    padding:0 8px;
  }
}

footer {
  border-top: 2px solid @orange;
  padding: 30px 0;
  background: @grayLighter;
  min-width: 940px;
}

article {
  padding-top: @navbarHeight + 10px;
}

