// Links
@linkColor:             @orange;
@linkColorHover:        @grayLight;

// Grays
@black:                 #000;
@grayDarker:            #262626;
@grayDark:              #393939;
@gray:                  #60605D;
@grayLight:             #808080;
@grayLighter:           #c2c2c2;
@white:                 #f1f1f1;

// Accent colors
@blue:                  #279EB6;
@blueDark:              #0099CC;
@green:                 #669900;
@red:                   #CC0000;
@yellow:                #ECBB13;
@orange:                #DF8615;
@pink:                  #FF4444;
@purple:                #9933CC;

// Typography
@baseFontSize:          18px;
@baseFontFamily:        'Lato', 'Droid Sans', sans-serif;
@baseLineHeight:        26px;
@textColor:             @gray;

// Buttons
@primaryButtonBackground:    @blue;

// Navbar
@navbarHeight:                    40px;
@navbarBackground:                @grayDarker;
@navbarBackgroundHighlight:       @grayDarker;

@navbarText:                      @grayLight;
@navbarLinkColor:                 @grayLight;
@navbarLinkColorHover:            @white;

