body {
    background: #f1f1f1;
    padding-top: 40px;
}

article {
    padding-top: 60px;
}

.topbar-inner, .topbar .fill {
/*   background-color: #666;
     background-image: none;*/
}


/* bigger text
more padding between masthead and header 
make dropdown thing actually work
find good code color scheme
make masthead bigger
add node.js to masthead image
tiny icons for top nav
favicon
cool little tweaks
*/